.card_css {
  background-color: rgb(165, 143, 209);
  border-radius: 35px;
  width: 95%;
  margin: 2rem;
  font-size: x-large;
}

.inner_card_css {
  border-radius: 35px;
  background-color: rgb(236, 234, 240);
}

.rank1 {
  background-color: rgb(235, 219, 133);
}

.rank2 {
  background-color: silver;
}

.rank3 {
  background-color: rgb(243, 158, 158);
}

.row_rank {
  font-weight: bold;
  color: rgb(76, 22, 126);
}
